:root {
  --green-color: #0d9d58;
  --red-color: #ee433c;
  --blue-color: #2b82fb;
  --yellow-color: #ffba00;

  --white-color-100: #ffffff;
  --white-color-90: #f7f6f6;
  --white-color-80: #efefef;
  --white-color-70: #d0d1d1;
  --white-color-50: #a2a2a3;
  --white-color-30: #737476;
  --white-color-10: #454548;

  --black-color-100: #0d0e10;
  --black-color-80: #121215;
  --black-color-60: #16171a;

  --font-family: "Alexendria", sans-serif;

  --font-size-h1: 48px;
  --font-size-h2: 36px 400;
  --font-size-h3: 24px;

  --font-size-p: 20px;

  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --font-weight-light: 300;

  --font-size-subText: 12px;

  --border-light: 0.5px solid rgba(0, 0, 0, 0.13);

  --border-shadow-normal: 1px, 4px, 4px, 0px rgba(0, 0, 0, 0.684);
  --border-shadow-light: 2px, 1px, 5px, 0px rgba(0, 0, 0, 0.28);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.navBar {
  background-color: var(--white-color-100);
  width: 100%;
  height: 10vh;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: var(--border-light);
  box-shadow: var(--border-shadow-light);
  padding: 0 2rem;
}

.navBar_logo {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.navBar_search {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navBar_logo img {
  height: 70%;
}

.navBar_menu {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.profileButton {
  margin: 3rem;
  cursor: pointer;

}

.navBar_search .searchBar {
  width: 60%;
  height: 50%;
  background-color: var(--white-color-70);
  border-radius: 50px;
}

.navBar_search .searchBar input {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: var(--white-color-70);
  border: none;
}

.navBar_search .searchBar input::placeholder {
  color: var(--black-color-100);
  font-size: var(--font-size-subText);
  padding-left: 2rem;
}

.navBar_search .searchBar input:focus {
  outline: none;
  padding-left: 2rem;
  border: var(--border-light);
  box-shadow: var(--border-shadow-light);
  background-color: var(--white-color-90);
}

.navBar_search .searchBar input:focus::placeholder {
  opacity: 0;
}

.navBar_search .searchBar img {
  position: relative;
  top: -100%;
  left: 88%;
  width: 45px;
  height: 45px;
}

.navBar_menu .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 45%;
  background-color: var(--red-color);
  border-radius: 50px;
  border: none;
  box-shadow: none;
  cursor: pointer;

}

.navBar_menu .menu img {
  width: 100%;
  height: 100%;
  cursor: pointer;

}

.navBar_menu .SignInButton {
  width: 30%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--red-color);
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-bold);
  cursor: pointer;

}

.navBar_menu .SignInButton button {
  border: none;
  color: var(--red-color);
  font-size: var(--font-weight-normal);
  font-weight: var(--font-weight-bold);
  background-color: transparent;
}

main {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.eventItem {
  max-width: 460px;
  width: 20vw;
  height: 45vh;
  background-color: var(--white-color-100);
  border-radius: 16px;
  box-shadow: var(--border-shadow-normal);
  border: var(--border-light);
}

.eventImage {
  width: 100%;
  height: 40%;
  border-radius: 16px 16px 0 0;
}

.eventImage img {
  width: 100%;
  height: 100%;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

.eventInfo {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 3vh 1vw;
}

.eventInfo h3 {
  font-size: var(--font-size-h2);
  width: 100%;
  height: 30%;
}

.eventInfo p {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-normal);
  margin-left: 20px;
  width: 95%;
  height: 40%;
}

.eventInfo button {
  font-size: var(--font-size-h3);
  color: var(--white-color-100);
  background-color: var(--blue-color);
  border: none;
  box-shadow: var(--border-shadow-light);
  border-radius: 16px;
  width: 50%;
  height: 30%;
}

.eventInfo .membersNumber {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
}

.eventInfo .membersNumber span {
  color: var(--green-color);
}

.eventInfo .commnityInfo {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}
.eventInfo .commnityInfo img {
  max-width: 58px;
  max-height: 58px;
  width: 20%;
  height: 100%;
  border-radius: 100%;
  margin-right: 10px;
}

.categories {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 10vh;
  padding: 1rem;
  overflow-x: auto; /* Allows horizontal scrolling */
  overflow-y: hidden; /* Prevents vertical overflow */
  white-space: nowrap; /* Prevents wrapping */
  scroll-behavior: smooth; /* Smooth scrolling */
}

.category,
.categoryAll {
  width: 145px; /* Fixed width */
  min-height: 72px;
  background-color: var(--white-color-100);
  height: 100%;
  margin: 10px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: var(--font-size-h3);
  border: var(--border-light);
  border-radius: 50px;
  flex-shrink: 0;
  color: var(--black-color-100);
  font-weight: var(--font-weight-bold);
}

.categoryAll {
  width: 90px;
}

.Clicked{
  background-color: var(--white-color-50);
}

.categories::-webkit-scrollbar {
  display: none; /* Hides scrollbar on WebKit browsers */
}

.categories {
  -ms-overflow-style: none; /* Hides scrollbar on IE/Edge */
  scrollbar-width: none; /* Hides scrollbar on Firefox */
}

.addPost {
  position: fixed;
  bottom: 0;

  width: 50%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--white-color-100);
  border-radius: 16px 16px 0 0;
  box-shadow: var(--border-shadow-light);
  border: var(--border-light);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.addPost img {
  margin-right: 1rem;
}

.sideBar {
  width: 20vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: var(--border-light);
  box-shadow: var(--border-shadow-light);
  border-radius: 0 0 50px 0;
  background-color: var(--white-color-100);
}

.sideBar_Image {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideBar_Image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sideBar_Info {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.sideBar_Info .communityInfo {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sideBar_Info .communityInfo h3 {
  font-size: var(--font-size-h3);
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideBar_Info .communityInfo p {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-normal);
}

.sideBar_Info .ownerInfo {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.sideBar_Info .ownerInfo h3 {
  height: 25%;
  width: 100%;
  font-size: var(--font-size-p);
  margin: 0 1rem;
}

.sideBar_Info .ownerInfo div {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}

.sideBar_Info .ownerInfo div img {
  margin: 1rem;
}

.sideBar_Info .ownerInfo div p {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-normal);
}

.sideBar_Info .adminInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.sideBar_Info .adminInfo h3{
  width: 100%;
  font-size: var(--font-size-p);
  padding: 1rem 1rem 0 ;
}

.sideBar_Info .adminInfo .adminList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sideBar_Info .adminInfo .adminList .adminItem {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}

.sideBar_Info .adminInfo .adminList div img {
  margin: 1rem;
}

.sideBar_Info .adminInfo .adminList div p {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-normal);
}

.eventItemInC{
  width: 80%;
  height: 40%;
  min-height: 300px;
  border-radius: 16px;
  border: var(--border-light);
  box-shadow: var(--border-shadow-light);
  box-sizing:content-box;
}

.eventItemInC .eventInfoInC{
  width: 100%;
  height: 85%;
  border-radius: 16px;

}

.eventItemInC .eventInfoInC h2{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 2rem;
  font-size: var(--font-size-h1);
  color: var(--white-color-100);
  box-shadow: var(--border-shadow-light);
}

.eventItemInC .eventDescriptionInC{
  background-color: var(--white-color-90);
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px 16px 0 0;
  border: var(--border-light);
  box-shadow: var(--border-shadow-normal);
}

.eventItemInC .eventDescriptionInC p {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-normal);
  padding: 0 2rem;
}
.eventItemInC .bottom_bar{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-direction: row;
  border-radius: 0 0 16px 16px;
  background-color: var(--white-color-90);

}

.eventItemInC .bottom_bar button{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: var(--font-size-h3);
  cursor: pointer;
}

.eventItemInC .bottom_bar button img{
  width: 20%;
  height: 75%;
  margin: 1rem;
}


 .star{
  color: var(--yellow-color);
}


.communitiesSection{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.communitiesSection .communitiesHeader{
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.communitiesSection .communitiesHeader h1{
  font-size: var(--font-size-h1);

}

.communitiesSection .communitiesHeader h1 span{
  color: var(--blue-color);
}

 .viewToggle{
  margin-top: 1rem;
  width: 13%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;


}

 .viewToggle .viewToggleItem:nth-child(1){
  width: 48%;
  height: 100%;
  border-radius: 50px 0 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-light);
  box-shadow: var(--border-shadow-light);

}

 .viewToggle .viewToggleItem:nth-child(2){
  width: 48%;
  height: 100%;
  border-radius: 0 50px 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color-100);
  border: var(--border-light);
  box-shadow: var(--border-shadow-light);


}




.communitiesSection .communityCategories{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


.communitiesSection  .communitiesContainer {
  padding: 2rem 0;
  width: 95%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}


.postsSection{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}

.postsContent{
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.sectionButton{
  background-color: var(--white-color-80);
  width: 20%;
  height: 90%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: var(--border-shadow-normal);
  border: var(--border-light);
  border-radius: 50px;
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
}

.sectionButtonC{
  background-color: var(--red-color);
  color: var(--white-color-100);
}

.sectionButtonContainer{
  margin: 1rem;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.postItem{
  background-color: var(--white-color-90);
  width: 90%;
  height: 40%;
  border-radius: 16px;
  border: var(--border-light);
  box-shadow: var(--border-shadow-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.postItem .postHeader{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  border-bottom: var(--border-light);
}

.postItem .postHeader img{
  width: 10%;
  height: 100%;
  border-radius: 100%;
  padding: 0.5rem 0rem;
}

.postItem .postHeader .postHeaderInfo{
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;


}

.postItem .postHeader .postHeaderInfo h3{
  font-size: var(--font-size-h3);

}

.postItem .postHeader .postHeaderInfo p{
  font-size: var(--font-size-subText);
}

.postItem .postContent{
  width: 90%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: var(--font-size-normal);
  box-shadow: var(--border-shadow-light);

}

.postItem .postBottom{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border-top: var(--border-light);
}

.postItem .postBottom button{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: var(--font-size-h3);
  cursor: pointer;
}

.postItem .postBottom button img{
  width: 20%;
  height: 75%;
}*

.report{
  color: var(--red-color);
}

.postsContainer{
  padding:  2rem 0;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  gap: 2rem;
}


.rankingDashboard{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

}

.rankingDashboard .personnalRank{
  background-color: var(--blue-color);
  width: 95%;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border-radius: 16px;
  box-shadow: var(--border-shadow-light);
}

.rankingDashboard .personnalRank .rank{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--yellow-color);
}

.rankingDashboard .personnalRank .rank h1{
  font-size: var(--font-size-h1);
}

.rankingDashboard .personnalRank .rank p{
  font-size: var(--font-size-p);
}

.rankingDashboard .personnalRank .point{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white-color-100);
}

.rankingDashboard .personnalRank .point h1{
  font-size: var(--font-size-h1);
}

.rankingDashboard .personnalRank .point p{
  font-size: var(--font-size-p);
}

.rankingDashboard .personnalRank .badges{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.rankingDashboard .personnalRank .badges img{
  background-color: var(--white-color-80);
  border-radius: 16px;
  width: 20%;
  height: 60%;
}


.postsContainer2{
  padding:  2rem 0;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}


.firstRank{
  background-color: var(--white-color-90);
  width: 30%;
  height: 100%;
  border-radius: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  box-shadow: var(--border-shadow-normal);
  padding: 0.5rem;
}

.firstRank .rankInfo{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border-bottom: var(--border-light);
}

.firstRank .rankBadges{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

}

.firstRank .rankBadges img{
  width: 20%;
  height: 60%;
  border-radius: 20%;
  background-color: var(--white-color-70);
}

.firstRank h4{
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-light);
  width: 100%;
  text-align: center;
  height: 10%;
}

.otherRank{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

}


.rankClassment:nth-child(even){
  width: 90%;
  border-radius: 16px;
  box-shadow: var(--border-shadow-normal);
  background-color: var(--white-color-100);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border: var(--border-light);
}

.rankClassment:nth-child(odd){
  width: 90%;
  border-radius: 16px;
  box-shadow: var(--border-shadow-normal);
  background-color: var(--white-color-80);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border: var(--border-light);
}

.rankClassment h3{
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-bold);

}

.rankClassment .userInfoRank{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.rankClassment .userInfoRank img{
  width: 20%;
  height: 80%;
  border-radius: 100%;
  margin-right: 0.5rem;
}


.otherRankPodium{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.otherRankRankList{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
}

.eventCommHead{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

.globalRankingSection{
  width: 100%;
  height: 100%;
  padding: 1rem 0;
}